* {
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    background-image: url(../Foto/background.png);
    font-size: 16px;
    line-height: 24px;
    overflow-x: hidden;
    font-family: 'Niramit', sans-serif;
}

#container {
    background-color: aliceblue;
    max-width: 80%;
    margin: 50px auto;
    padding: 20px;
}

h1 {
    text-align: center;
    padding: 15px;
    border-bottom: 3px solid black;
}

h1,
h2, h3 {
    font-family: 'Raleway', sans-serif;
    font-style: italic;
    font-variant: small-caps;
    margin: 15px;
}

nav {
    height: 100px;
    background-color: whitesmoke;
    color: unset;
}

nav ul {
    padding-top: 40px;
    display: flex;
    flex-wrap: wrap;
}

nav li {
    flex: 1 1 auto;
    display: flex;
    color: black;
}

nav li a {
    flex: 1 1 auto;
    text-align: center;
}

p {
    margin: auto;
    padding: 10px;
}

a {
    background-color: inherit;
    color: black;
    font-weight: bold;
}

a:visited {
    background-color: transparent;
    color: maroon;
}

a:focus {
    background-color: silver;
    color: black;
}

a:hover {
    background-color: silver;
    color: black;
    border-radius: 10px;
    padding: 5px;
}

a:active {
    background-color: #A9A9A9;
    color: black;
}

img {
    max-width: 100%;
    height: auto;
}

footer {
    border: 1px solid lightgray;
    padding: 10px 20px;
}

footer a {
    text-align: center;
}
