* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Niramit', sans-serif;
    background-color: lavender;
    color: black;
    font-size: 16px;
    line-height: 24px;
    overflow-x: hidden;
}

h1,
h2, h3 {
    font-family: 'Raleway', sans-serif;
    font-style: italic;
    font-variant: small-caps;
    margin: 15px;
}

h2 {
    margin: 10px 0;
}

p {
    text-align: justify;
    margin-bottom: 20px;
    padding: 10px;
}

ul {
    list-style-type: none;
    padding: 20px;
}

ul li {
    margin: 20px 0;
}

ul li a {
    padding: 5px;
}

a {
    background-color: inherit;
    color: black;
    font-weight: bold;
}

a:visited {
    background-color: transparent;
    color: maroon;
}

a:focus {
    background-color: silver;
    color: black;
}

a:hover {
    background-color: silver;
    color: black;
}

a:active {
    background-color: #A9A9A9;
    color: black;
}

footer {
    text-align: left;
    margin: 50px 10px 10px 10px;
}

#container {
    width: 70%;
    margin: auto;
    padding: 25px 20px;
    text-align: center;
    background-color: inherit;
    color: black;
}

#container2 {
    width: 70%;
    margin: auto;
    padding: 25px 20px;
    text-align: center;
    background-color: inherit;
    color: black;
}

#project {
    margin-top: 20px;
}

#Ik {
    margin: 80px 10px;
    padding: 20px;
    border: 3px solid #ED735A;
    border-radius: 25%;
    transition: all 1s;
}

#hobby {
    margin: 80px 10px;
    padding: 20px;
    position: relative;
    border: 3px solid #ED735A;
    border-radius: 25%;
    transition: all 1s;
}

#rillaar_link {
    position: absolute;
    top: 80%;
    left: 10%;
}

.groeien:hover {
    transform: scale(1.1);
}

.geen_opsomming {
    list-style-type: none;
}

.center {
    text-align: center;
}

.bgimg1 {
    height: 750px;
    background-color: #F04C25;
    background-image: url(../Logo_TM/TM_logo_oranje_cmyk.svg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    filter: opacity(75%);
    transition: all 1200ms ease-in-out;
}

.bgimg2 {
    position: relative;
    height: 300px;
    width: 100%;
    background-color: #F04C25;
    background-image: url(../Logo_TM/TM_logo_oranje_cmyk.svg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.caption {
    position: absolute;
    top: 35%;
    left: 45%;
}

.titel {
    height: 100px;
    filter: none;
    position: absolute;
    top: 80%;
    left: 38%;
}


@media screen and (max-width: 960px) {
    .bgimg1 {
        background-image: url(../Logo_TM/TM_logo_oranje_cmyk.svg);
        background-position: center top;
        background-size: contain;
        height: 450px;
    }

    .titel {
        filter: none;
        position: absolute;
        top: 90%;
        left: 28%;
    }

    ul {
        justify-content: center;
    }

    #rillaar_link {
        position: absolute;
        top: 80%;
        left: 2%;
    }

}

@media screen and (max-width: 768px) {
    #rillaar_link {
        position: absolute;
        top: 48%;
        left: 5%;
    }
}

@media screen and (max-width: 600px) {
    #container {
        margin: auto;
        width: unset;

    }

    .bgimg1 {
        height: 320px;
    }

    .titel {
        filter: none;
        position: absolute;
        top: 70%;
        left: 25%;
    }

    .caption {
        position: absolute;
        top: 35%;
        left: 35%;
    }
}
