/* stijlregels die voor beide errorpagina's van toepassing zijn */
*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Encode Sans Semi Expanded', sans-serif;
    overflow-x: hidden;
}

h1{
    font-family: 'Electrolize', sans-serif;
    font-size: 62px;
    line-height: 93px;
    text-align: center;
    margin: 0 10px;
    font-variant: all-petite-caps;
}

h1:hover, h2:hover{
    transform: scale(1.2);
}

h2{
    font-family: 'Electrolize', sans-serif;
    text-align: center;
    font-size: 38px;
    line-height: 51px;
}

p{
    text-align: center;
}

#container{
    max-width: 950px;
    margin: 20px auto;
    background-color: silver;
    border: 2px solid #666666;
    box-shadow: 3px 3px 3px #666666;

}

#error_nav{
    padding: 20px;
    margin: 30px auto;
    max-width: 500px;
}

#error_nav a:link{
    background-color: transparent;
    color: black;
    font-weight: bold;
}

#error_nav a:focus{
    padding: 10px 5px;
    background-color: darkgray;
    color: black;
    border-radius: 50%;
}
#error_nav li:hover{
    padding: 20px;
    background-color: darkgray;
    color: black;
    transform: translateY(-20px) scale(1.1);
    text-align: center;
    border-radius: 50%;
}

#error_nav a:active{
    background-color: transparent;
    color: black;
    padding-left: 10px;
}

#error_uitleg{
    margin: auto;
    text-align: center;
    padding: 10px;
}

.geen_opsomming {
    list-style-type: none;
}